.transitionTo{
    color: rgba(0,0,0,0.4);
    font-weight: 700;
}
.transition{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.moveNextScene{
    text-decoration: underline;
    cursor: pointer;
    color: black;
    font-size: 0.95em;
}