.Slider img{
    width: 38.5em;
    height: 21.65em;
    margin: 0 auto;
}

.buttons{
    width: 36.1em;
    display:flex;
    justify-content:space-between;
}

.buttonAbsolute{
    position:absolute;
    margin-top:10em;
    margin-left: 1em;
}

.buttons button{
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    width:48px;
    height:48px;
    border-radius:50%;
    cursor: pointer;
}
.buttons button:hover{
    background: rgba(0, 0, 0, 0.4);
}
.buttons svg{
    height:100%;
}


.leftButton{
    transform: rotate(180deg);
}
.leftButton svg{
    padding-top: 1px;
}
.rightButton svg{
    padding-top: -1px;
}

@media screen and (max-width: 700px){
   .buttonAbsolute{
    margin-top:9em;
   }

}
@media screen and (max-width: 600px){
    .buttons button{
        width: 40px;
        height: 40px;
    }
}